<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Some Place</h1>
        <p class="header">whatever</p>



        <ul>
          <li><a class="buttons github" href="https://github.com/ikenbe">GitHub Profile</a></li>
        </ul>

      </header>
      <section>
 　　   <h2>{{ page.title }}</h2>
　　    <p>最新文章</p>
　　    <ul>
　　　 　 {% for post in site.posts %}
　　　　　　<li>{{ post.date | date_to_string }} <a href="{{ post.url }}">{{ post.title }}</a></li>
　　　　  {% endfor %}
　　    </ul>
      </section>
      <footer>

      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

  </body>
</html>
